<div id="chart_partial_2">
 <script type="text/javascript">
   
     $(function(){
                    
      var current_price_list_array = function(pricelist){
      var price_list_array = pricelist.split(",")

       if(price_list_array.length > 12)
          price_list_array = price_list_array.splice(price_list_array.length/2, price_list_array.length);
         
       for(var i = 0; i<price_list_array.length; i++)
         price_list_array[i] = price_list_array[i] * parseInt('<%=@stocksinmarket%>');

         return price_list_array;
      };

      var canvas2 = document.getElementById("canvas_line2");
      var ctx2 = document.getElementById("canvas_line2").getContext("2d");
      ctx2.clearRect(0, 0, canvas2.width, canvas2.height);

      var pricelist = current_price_list_array('<%=@price_list%>');
      var label = [];
      pricelist.splice(pricelist.length-1, 1);
      
      for(var i = 0; i<pricelist.length; i++)
             label.push(i);
      
      var lineChartData2 = {
            labels : label,
            datasets : [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data : pricelist
                }]
        };  
            
      window.myLine2 = new Chart(ctx2).Line(lineChartData2, {
                    responsive: true,
                });

      myLine2.destroy();

               });

 </script>
</div>