<div id="chart_partial_2">
 <script type="text/javascript">
   
      var current_price_list_array = function(pricelist){
      var price_list_array = pricelist.split(",")
         return price_list_array
      };

      var canvas2 = document.getElementById("canvas_line2");
      var ctx2 = document.getElementById("canvas_line2").getContext("2d");
      ctx2.clearRect(0, 0, canvas2.width, canvas2.height);

      var pricelist = current_price_list_array('<%=@price_list%>');
      var label = [];
      pricelist.splice(pricelist.length-1, 1);
      
      for(var i = 0; i<pricelist.length; i++)
             label.push(i);
      
      var lineChartData = {
            labels : label,
            datasets : [
                {
                    label: "My First dataset",
                    fillColor : "rgba(255,0,0,0.1)",
                    strokeColor : "rgba(220,0,0,0.3)",
                    pointColor : "rgba(220,0,0,0.3)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(220,0,0,0.3)",
                    data : pricelist
                }]
        };  
            
      window.myLine2 = new Chart(ctx1).Line(lineChartData, {
                    responsive: true,
                });

      myLine2.destroy();

 </script>
</div>