<div id="marketevent_modal_partial"> 
  <div class="row">
   <div class="col-lg-12">

     <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Market Event</h3>
       </div>
	   	  <div class="panel-body">
        <%@market_events_paginate.each do |event|%>
        <a class="list-group-item">
        <span class="badge"><%= event.updated_at.strftime("%d%h%r")%></span>
        <i class="fa fa-fw fa-check"></i> <%= event.eventname%> </a> 
        <% end %>
        <div id="paginator">
        <%= mojo_paginator(@market_events_count,'market',@active) %>
        </div>

   	    </div>
     </div>
     
   </div>
  </div>
</div>