<div id ="notification_partial">
<% @notifications_list.each do |notice|%>
	<a href="#" class="list-group-item">
	<span class="badge"><%= notice.updated_at.strftime("%d%h%r")%></span>
	<i class="fa fa-fw fa-check"></i> <%= notice.notification%>
	</a>
<% end %>
</div>