
    body {
        padding-top: 70px; 
        /*background-image: url('../../../../assets/index_bg2.jpg');*/
        /*background-repeat: repeat;*/
        background-color:#000000;
        /*#303030*/
        font-size: 12px;
        /*#303030*/
    }

    img{
        display-block; width:100%;
    }

    .thumbnail{
        border-radius: 0;
    }

    .redborder {
        border: 2px solid #f96145;
        border-radius: 2px;
    }
    .hidden {
        display: none;
    }
    .visible {
        display: normal;
    }
    .colored {
        background-color: #F0EEEE;
    }
     
    .bigicon {
        font-size: 97px;
        color: #f96145;
    }

    .contcustom {
        text-align: center;
        width: 300px;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 10px auto;
        /*background-color: white;*/
        padding: 20px;
    }

    input {
        width: 100%;
        margin-bottom: 17px;
        padding: 15px;
        background-color: #ECF4F4;
        border-radius: 2px;
        border: none;
    }

    h2 {
        margin-bottom: 20px;
        font-weight: bold;
        color: #ABABAB;
    }

    .btn {
        border-radius: 2px;
        padding: 10px;
    }

    .med {
        font-size: 27px;
        color: white;
    }

    .medhidden {
        font-size: 27px;
        color: #f96145;
        padding: 10px;
        width: 100%;
    }

    .wide {
        background-color: #8EB7E4;
        width: 100%;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .navbar {
        background-image: -webkit-linear-gradient(#252525, #3a3f44 60%, #313539);
        background-image: -o-linear-gradient(#252525, #3a3f44 60%, #313539);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#252525), color-stop(60%, #3a3f44), to(#313539));
        background-image: linear-gradient(#252525, #3a3f44 60%, #313539);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff252525', endColorstr='#ff313539', GradientType=0);
        -webkit-filter: none;
        filter: none;
        border: 1px solid rgba(0, 0, 0, 0.6);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        }

    .navbar-default {
        background-color: #252525;
        border-color: #2b2e32;
     }

/************** panel and tiles ********************************************************************/

    .panel {
        border-radius: 0;
        background-color: #191919;
        border-radius: 4px;
    }
    
    .panel-default {
        border-radius: 0;
        background-color: #191919;
        border-radius: 4px;
    }

    #socket_link a{
       background-color:  #191919;
    }

    a.list-group-item {
        height:auto;
        min-height:150px;
    }

    a.list-group-item.active small {
        color:#fff;
    }

/* ------------------------------------------------  slider -----------------------------------------------------------------------------*/

.slider{
    width:100%;
    overflow:hidden;
    position:relative;
    margin:0;
}
.edge{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
    height:100%;
    display:block;
}
.edge:before{
    content:'';
    position:absolute;
    left:0;
    background:-webkit-linear-gradient(left, #191919 2%, rgba(255,255,255,0) 15%);
    background:-moz-linear-gradient(left, #191919 2%, rgba(255,255,255,0) 15%);
    background: linear-gradient(left, #191919 2%, rgba(0,0,0,0) 15%);
    width:25%;
    height:100%;
}
.edge:after{
    content:'';
    position:absolute;
    right:0;
    background:-webkit-linear-gradient(right, #191919 2%, rgba(255,255,255,0) 25%);
    background:-moz-linear-gradient(right, #191919 2%, rgba(0,0,0,0) 15%);
    background: linear-gradient(right, #191919 2%, rgba(255,255,255,0) 95%);
    width:25%;
    height:100%;
}
.slider ul{
    background:#191919;
    overflow:hidden;
    width:1000%;
    margin:0;
}

.slider li{
    list-style:none;
    display:inline-block;
    padding:0 10px;
}
