<div id='stock_marquee_partial'>
<div class='slider'>
<div class="edge"></div>
<ul class="slideContainer" id="money_start">
      <% @stocks_list.each do |stock| %>
      <% if stock.updown == 1%>
      <% @color="style=color:green"%> 
      <% @image="src=/assets/up-arrow.jpg"%> 
      <% else %> 
      <% @color="style=color:red" %>
      <% @image="src=/assets/stock_down.gif"%> 
      <%end%>
        <li class="slideItem" >
      <span><%= "#{stock.stockname} " %></span><span <%=@color%> ><%="#{stock.currentprice.round(2)} "%></span><span><img <%=@image%> style="width:7px;height:7px;"></img></span>
        </li>
<% end %>
</ul>
</div>
</div>