<% content_for :page_wrapper do %>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content contcustom">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <br>         
            <div class="modal-body">
            <%= render partial:"dalal_dashboard/partials/buy_sell_partial_socket",locals: { stock: @stock, no_stock_found: @no_stock_found, buy_history: @buy_history, sell_history: @sell_history } %>
            </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Street <small>Buy and Sell Stock</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dalal Street
                            </li>
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Buy and Sell
                            </li>
                        </ol>   
                    </div>
                </div>
                <!-- /.row -->

               
                <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list }%>
               

                <div class="row">
                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <%= render partial:"dalal_dashboard/partials/main_buy_sell_partial",locals: { stocks_list: @stocks_list }%>  
                            </div>
                        </div>
                    </div>
                </div> <!--row-->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

<% end %>

<% content_for :style do %>

<style>
.contcustom {
        text-align: center;
        width: 800px;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: -50px;
        right: 0;
        margin: 10px auto;
        background-color: #fafafa;
        padding: 20px;
    }
</style>

<% end %>

<% content_for :script do %>
 
 <script type="text/javascript">

   $('#myModal').modal('hide')
    jQuery(function ($) {
        function check_values() {
            if ($("#username").val().length != 0 && $("#password").val().length != 0) {
                $("#button1").removeClass("hidden").animate({ left: '250px' });
                $("#lock1").addClass("hidden").animate({ left: '250px' });
            }
        }
    });

 // var dispatcher = new WebSocketRails($('.table').data('uri'), true);

  $(function(){
      
      // dispatcher.on_open = function(){
      //   console.log("Connection established");
      // };

      // var channel = dispatcher.subscribe('buy_sell');
      // channel.bind('buy_sell_channel', function(get_value) {  
      //               get_completestock_info(get_value,dispatcher);
      // });

        var buy_sell_channel = new WebsocketClass(".table");
        var buy_sell_subscribe = buy_sell_channel.channel_subscribe("buy_sell");
        var buy_sell_binder = buy_sell_channel.channel_binder("buy_sell_channel", get_completestock_info);

    });


    var round = function(value, decimals) {
       return Number(Math.round(value+'e'+decimals)+'e-'+decimals); 
    };

    var get_single_stock_id = function(stock_id){

        get_single_stock_modal(stock_id);
        
    };

    var get_single_stock_modal = function(stock_id){     
             // var data = {id: stock_id};

             // var success = function(response) {
             //          console.log("success : "+response.message);
             //          //dispatcher.unbind('notification_update');
             //          };

             // var failure = function(response) {
             //           console.log("failure: "+response.message);
             //          };

             //     dispatcher.bind('buy_sell_partial_render', getdata);
             //     dispatcher.trigger('buy_sell_partial_render', data, success, failure); 
                
             //     function getdata(get_data) {
             //              var rs = new RestfulWebsockets();
             //              console.log(get_data)
             //              rs.refresh(get_data); 
             //        }

        var data = {id: stock_id};
        var buy_sell_render_socket = new WebsocketClass(".table");
        var buy_sell_render_socket_binder = buy_sell_render_socket.evt_binder("buy_sell_partial_render");
        var buy_sell_render_socket_trigger = buy_sell_render_socket.evt_trigger("buy_sell_partial_render",data);
        var buy_sell_render_socket_unbind = buy_sell_render_socket.evt_unbinder();

    };

/////////////  websocket for notifications and table ////////////////////////////////
    var get_completestock_info  = function(){
         // var sent = {receive: bool};

         // var success = function(response) {
         //          console.log("success : "+response.message);
         //          //dispatcher.unbind('notification_update');
         //          };

         // var failure = function(response) {
         //           console.log("failure: "+response.message);
         //          };

         //     dispatcher.bind('update_stock_all', function(get_value) {
                    
         //              console.log(get_value);
         //              var rs = new RestfulWebsockets();
         //              rs.refresh(get_value);
                         
         //     });
     
         // dispatcher.trigger('update_stock_all', sent, success, failure);

        var data = {bool:true};
        var buy_sell_socket = new WebsocketClass(".table");
        var buy_sell_socket_binder = buy_sell_socket.evt_binder("update_stock_all");
        var buy_sell_socket_trigger = buy_sell_socket.evt_trigger("update_stock_all",data);
        var buy_sell_socket_unbind = buy_sell_socket.evt_unbinder(); 
    }; 

     var isNumber = function(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };
    
    var sort_data = function(value){
      var type = value.split("_")[0];

      if (type == "buy")
      { var price = document.getElementById("buy").value;
        var num = document.getElementById("buy_num_of_stock").value;
      }
      else if (type == "sell")
      { var price = document.getElementById("sell").value;
        var num = document.getElementById("sell_num_of_stock").value;
      }
      else
        alert("Invalid.Please try again.");

      var data = {type_stock: value,
                  num_of_stock: num,
                  price: price
                 };

      return data;
    };

    var sendvalues = function(value){
            
             // var data = sort_data(value);        

             // var success = function(response) {
             //          console.log("success : "+response.message);
             //          //dispatcher.unbind('notification_update');
             //          };

             // var failure = function(response) {
             //           console.log("failure: "+response.message);
             //          };

             //     dispatcher.bind('buy_sell_stock_socket', getdata);
             //     dispatcher.trigger('buy_sell_stock_socket', data, success, failure); 
                
             // function getdata(get_data) {
             //              var rs = new RestfulWebsockets();
             //              console.log(get_data);
             //              rs.refresh(get_data);
             //        }

        var data = sort_data(value);
        var buy_sell_send_socket = new WebsocketClass(".table");
        var buy_sell_send_socket_binder = buy_sell_send_socket.evt_binder("buy_sell_stock_socket");
        var buy_sell_send_socket_trigger = buy_sell_send_socket.evt_trigger("buy_sell_stock_socket",data);
        var buy_sell_send_socket_unbind = buy_sell_send_socket.evt_unbinder();
    };

</script>
<% end %>    
