<% content_for :page_wrapper do %>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog">
      <div class="modal-content contcustom">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <br>         
            <div class="modal-body">
            <%= render partial:"dalal_dashboard/partials/buy_sell_partial",locals: { stock: @stock, no_stock_found: @no_stock_found } %>
            </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dalal Panel <small>Buy and Sell Stock</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                             <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>   
                    </div>
                </div>
                <!-- /.row -->

               
                <%= render partial:"dalal_dashboard/partials/panel_dashboard_partial",locals: { stocks_list: @stocks_list }%>
               

                <div class="row">
                  <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <%= render partial:"dalal_dashboard/partials/main_buy_sell_partial",locals: { stocks_list: @stocks_list }%>  
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--row-->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

<% end %>

<% content_for :style do %>

<style>
.contcustom {
        text-align: center;
        width: 800px;
        border-radius: 0.5rem;
        top: 0;
        bottom: 0;
        left: -50px;
        right: 0;
        margin: 10px auto;
        background-color: white;
        padding: 20px;
    }
</style>

<% end %>

<% content_for :script do %>
 
 <script type="text/javascript">

   $('#myModal').modal('hide')
    jQuery(function ($) {
        function check_values() {
            if ($("#username").val().length != 0 && $("#password").val().length != 0) {
                $("#button1").removeClass("hidden").animate({ left: '250px' });
                $("#lock1").addClass("hidden").animate({ left: '250px' });
            }
        }
    });

      var dispatcher = new WebSocketRails($('.table').data('uri'), true);

  $(function(){
      
      dispatcher.on_open = function(){
        console.log("Connection established");
      };

      var channel = dispatcher.subscribe('buy_sell');
      channel.bind('buy_sell_channel', function(get_value) {  
                    get_completestock_info(get_value,dispatcher);
      });
    });


    var round = function(value, decimals) {
       return Number(Math.round(value+'e'+decimals)+'e-'+decimals); 
    };

    var get_single_stock_id = function(stock_id){

        get_single_stock_modal(stock_id,dispatcher);
        
    };

    var get_single_stock_modal = function(stock_id,dispatcher){
             var data = {id: stock_id};

             var success = function(response) {
                      console.log("success : "+response.message);
                      //dispatcher.unbind('notification_update');
                      };

             var failure = function(response) {
                       console.log("failure: "+response.message);
                      };

                 dispatcher.bind('buy_sell_partial_render', getdata);
                 dispatcher.trigger('buy_sell_partial_render', data, success, failure); 
                
                 function getdata(get_data) {
                          var rs = new RestfulWebsockets();
                          console.log(get_data)
                          rs.refresh(get_data); 
                    }
    };

/////////////  websocket for notifications and table ////////////////////////////////
    var get_completestock_info  = function(bool,dispatcher){

         var sent = {receive: bool};

         var success = function(response) {
                  console.log("success : "+response.message);
                  //dispatcher.unbind('notification_update');
                  };

         var failure = function(response) {
                   console.log("failure: "+response.message);
                  };

             dispatcher.bind('update_stock_all', function(get_value) {
                    
                      console.log(get_value);
                      var rs = new RestfulWebsockets();
                      rs.refresh(get_value);
                      
             //      for(var i = 0; i < get_value.sent_data.notice.length; i++) {
             //                    var obj = get_value.sent_data.notice[i];
             //                    var notify = notify+'<a href="#" class="list-group-item"><span class="badge">'+obj.updated_at+'</span> <i class="fa fa-fw fa-check"></i> '+obj.notification+'</a>';
             //                }
             
             // $("#ajax_notice").empty().append("<p>"+get_value.sent_data.notice[0].notification+"</p>");
             // $("#notification").empty().append(notify);

             // for(var i = 0; i < get_value.sent_data.stock_update.length; i++) {
             //                    var obj = get_value.sent_data.stock_update[i];

             //                    var fill_table = fill_table+'<tr><td><a class="stock_name" href="/dalal_dashboard/partials/298486374/buy_sell_stock?stockname='+obj.stockname+'" id="'+obj.stockname+'"_"'+obj.id+'">'+obj.stockname+'</a></td><td>'+round(obj.alltimelow,2)+'</td><td>'+round(obj.alltimehigh,2)+'</td><td>'+round(obj.daylow,2)+'</td><td>'+round(obj.dayhigh,2)+'</td><td>'+round(obj.currentprice,2)+'</td><td>'+obj.stocksinmarket+'</td></tr>';
             //                }

             //             $("#render_tbody").empty().append(fill_table);
                         
      });
     
         dispatcher.trigger('update_stock_all', sent, success, failure); 

    }; 

     var isNumber= function(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    };
</script>

<% end %>    
