<% content_for :page_wrapper do %>
        <div id="page-wrapper">
            <h2 style="color:yellow;background:transparent;">Coming soon</h2>
            
        </div>
        <!-- /#page-wrapper -->
<% end %>